/* General */
body {
    font-family: 'Roboto Serif', serif;
    background-color: #222222; /* Fondo negro */
    color: white; /* Texto claro */
    margin: 0;
    padding: 0;
}



/* Barra de navegación */
nav {
    background-color: #333; 
    color: white;
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

nav .logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}



/* Presentación */
.presentation {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%;
    color: white;
    background-color: yellow;
}


/* Milestones y Next Steps */
.second-half {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    padding-top: 10rem;
    background-color: red;  
}














/* Responsividad */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .second-half {
        flex-direction: column;
    }

    .column {
        max-width: 100%;
    }

    .presentation h2 {
        font-size: 2rem;
    }

    nav .logo a {
        font-size: 1.6rem;
    }
}
