/* General */
html {
    overflow-y: scroll;
  }


body {
    font-family: 'Roboto Serif', serif;
    background-color: #222222; 
    color: white;
    margin: 0;
    padding: 0;
}



/* Barra de navegación */
nav {
    background-color: #333; 
    color: white;
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 5rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

nav .logo a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


/* Presentación */
.presentation {
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%; 
    color: white;
}

.presentation h2 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2.5rem;
    border-bottom: 2px solid #00bcd4;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto; 
}

.presentation p {
    margin-top: 20px;
    line-height: 1.8;
    text-align: justify;
}






.lista_de_journeys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    padding-right: 6px;
    padding-left: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

/* Cuadrados del listado */
.journey-item {
    display: flex;
    flex-direction: column; 
    background-color: rgb(224, 224, 224); 
    color: black; 
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 85%;
    height: auto;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid #00bcd4;
    background-color: #1e2125;
    padding-left: 3rem;
}

/* Fecha */
.journey-item p {
    font-family: 'Roboto Serif', serif;
    color: white;
}

/* fecha */
.journey-item .fecha {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0px;
}
/* texto */
.journey-item .texto {
    font-size: 1rem;
}

