/* General */
body {
    font-family: 'Roboto Serif', serif;
    background-color: #222222; /* Fondo negro */
    color: white; /* Texto claro */
    margin: 0;
    padding: 0;
}





/* Barra de navegación */
nav {
    background-color: #333; /* Color de fondo del menú */
    color: white;
    padding: 5px 10px; /* Menor altura */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centrar verticalmente */
    height: 5rem;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

nav .logo a {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}






/* Presentación */
.title{
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%; /* Ocupa dos tercios */
    color: white;
}

.title h2 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2.5rem;
    border-bottom: 2px solid #00bcd4;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 auto; /* Centrarlo */
}

.title p {
    margin-top: 20px;
    line-height: 1.8;
    text-align: justify;
}




/* Filtros */
.barra_de_etiquetas{
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 60%; /* Ocupa dos tercios */
    border-bottom: #0097a7;
}
.w3-bar-item {
    font-family: 'Roboto Serif', serif;
    font-size: 1rem; 
    margin: 2px;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
}

.w3-bar-item:hover {
    background-color: #00bcd4;
    color: black;
}





/* Listado de Writeups */
/* Contenedor de listados */
.lista_de_writeups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
    padding-right: 6px;
    padding-left: 6px;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
}

/* Cuadrados del listado */
.writeup-item {
    display: flex;
    flex-direction: column; /* Asegura que el contenido esté en una columna */
    justify-content: space-between; /* Deja espacio entre etiquetas y fecha */
    background-color: rgb(224, 224, 224); /* Fondo blanco */
    color: black; /* Texto negro */
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 20rem;
    height: 15rem;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    border: 2px solid #00bcd4;
    background-image: url("assets/htb.png");
}


/* Efecto al pasar el ratón por encima de un writeup */
.writeup-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Título del writeup */
.writeup-item h4 {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 2rem;
    max-height: 3rem;
    font-weight: bolder;
    color: white;
}

/* Etiquetas */
.writeup-item p {
    margin: 0;
    padding: 0;
}

.writeup-item span {
    font-size: 0.8rem;
    margin: 2px;
    display: inline-block; /* Etiquetas alineadas */
    padding: 5px 8px;
    background-color: #4caf50; /* Fondo verde */
    color: white;
    border-radius: 3px;
}

/* Fecha */
.writeup-item .fecha {
    margin-top: auto; /* Empuja la fecha hacia la parte inferior */
    font-size: 0.9rem;
    color: white;
    text-align: right; /* Alinea la fecha a la derecha */
}

.w3-bar-item.w3-button.active {
    background-color: white; /* Fondo blanco para los botones activos */
    color: black; /* Texto negro para contraste */
}



/* Responsividad */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .second-half {
        flex-direction: column;
    }

    .writeup-item {
        max-width: 100%;
    }

    .presentation h2 {
        font-size: 2rem;
    }

    nav .logo a {
        font-size: 1.6rem;
    }
}