
/* General */
body {
    font-family: 'Roboto Serif', serif;
    background-color: #222222;
    /* Fondo negro */
    color: white;
    /* Texto claro */
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

/* Barra de navegación */
nav {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav .logo a {
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}


.content {
    padding-top: 3rem;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
}

.title {
    color: white;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 4rem;
    font-weight: 400;
    border-bottom: 2px solid #00bcd4;
}

h1 {
    padding-top: 2rem;
    color: #d4a200d3;
}

h2,
h3 {
    color: #00bcd4;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: rgb(0, 128, 128);
    text-decoration: none;
}



pre {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin-bottom: 20px;
}

code {
    background-color: #1c1c1c;
    color: #a03939;
    padding: 2px 4px;
    border-radius: 3px;
}

img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

p {
    margin-bottom: 15px;
    text-align: justify;
}
        